<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="//code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/custom/sfmjquerymobileCustom.css?v=" + ViewBag.LastUpdatedCustomTheme)" />
        <link rel="stylesheet"  href="@Url.Content("~/Content/jquery.mobile.grids.collapsible.css")" />
        <link rel="stylesheet"  href="@Url.Content("~/Content/themes/base/jqm-datebox.min.css")" />

        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script> 
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-chrome-scroll-fix.js")"></script> 
        <script src="//code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/Custom.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/md5.js")"></script>

        <!--<script type="text/javascript" src="@Url.Content("~/Scripts/jqm-datebox.core.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jqm-datebox.mode.calbox.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jqm-datebox.mode.datebox.min.js")"></script>-->

        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.mousewheel.min.js")"></script>
	    <script type="text/javascript" src="@Url.Content("~/Scripts/jqm-datebox.core.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jqm-datebox-1.3.0.mode.flipbox.min.js")"></script>
        
        <script type="text/javascript" src="@Url.Content("~/Scripts/i18n/jquery.mobile.datebox.i18n.en.utf8.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/i18n/jquery.mobile.datebox.i18n.fr.utf8.js")"></script>

        <style type="text/css">
            .fixedheader
            {
                position:fixed !important;
                width:100%;
                z-index:1000;
                left: 0;
                top: 0;                    
            }

            .ui-content
            {
                padding:65px 15px;
            }

            .ui-dialog-contain
            {
                margin-top: 30px !important;
            }

            #fleetviewhome
            {
                padding-bottom: 52px;
            }

            .ui-panel .ui-body-f
            {
                border: none;
            }

            .ui-panel ul.ui-listview li .ui-li
            {
                border-top: 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }
        </style>

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-41717884-1', 'sentinelfm.com');
            ga('send', 'pageview');

        </script>

        @RenderSection("Header", required:false)  
              
    </head>
    <body>
        <div data-role="page" id="mappage">
          
            <div data-role="header" data-theme="h" data-position="fixed" data-tap-toggle="false">
	            <div data-role="controlgroup" data-type="horizontal" class="ui-btn-left">
                        @RenderSection("HeaderLeftButtons", required:false)
                </div>
                
                <h1>@SentinelMobile.Resources.Resources.Map</h1>
                
                <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                    @RenderSection("HeaderRightButtons", required:false)
                </div>
            </div><!-- /header -->

            <div data-role="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false" style="z-index:2000">
		        <div data-role="navbar" data-grid="c">
			        <ul>
				        <li><a href="#vehicleList" id="menu" data-icon="bars" data-role="button" data-rel="dialog" data-transition="none">@SentinelMobile.Resources.Resources.Vehicles</a></li>
                        <li><a href="#layerspage" id="layers" data-icon="layers" data-role="button" data-rel="dialog" data-transition="none">@SentinelMobile.Resources.Resources.Layers</a></li>				    
                        <li><a href="#" onclick="$.mobile.changePage('#searchpage');PreviousPage = 'mappage';" id="search" data-icon="search" data-role="button" data-rel="dialog" data-transition="none">@SentinelMobile.Resources.Resources.Search</a></li>				    
                        <li id="liFollow" style="display:none;"><a href="#" onclick="$.mobile.changePage('#followpage');" id="follow" data-icon="star" data-role="button" data-rel="dialog" data-transition="none">@SentinelMobile.Resources.Resources.Follow</a></li>
                        <!--<li id="liHistory" style="display:none;"><a href="#" onclick="$.mobile.changePage('#historypage');" id="history" data-icon="star" data-role="button" data-rel="dialog" data-transition="none">@SentinelMobile.Resources.Resources.History</a></li>-->
			        </ul>
		        </div>
	        </div>

            @RenderBody()

            <div id="navigation" data-role="controlgroup" data-type="vertical" style="right:10px;left:auto;bottom:120px;">
                <a href="#" data-role="button" data-icon="plus" id="plus"
                    data-iconpos="notext"></a>
                <a href="#" data-role="button" data-icon="minus" id="minus"
                    data-iconpos="notext"></a>
            </div>

            @RenderSection("LeftPanel", required:false)           

            @RenderSection("Popup", required:false)
            
            
        </div>

        @RenderSection("vehicleListPage", required:false) 
        
        <div data-role="page" id="layerspage">
          <div data-role="header" data-theme="h">
            <h1>@SentinelMobile.Resources.Resources.Layers</h1>
            <a href="#mappage" data-role="button" data-icon="delete" data-iconpos="notext" data-shadow="false" data-iconshadow="false" data-inline="true">@SentinelMobile.Resources.Resources.Close</a>
          </div>
          <div data-role="content">
            <ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="c" id="layerslist">
            </ul>
          </div>
        </div>

        @RenderSection("searchPage", required:false)
        @RenderSection("fleetPage", required:false)        
        @RenderSection("followPage", required:false)
        @RenderSection("vehicleInfoPage", required:false)         @*@RenderSection("configPage", required:false)*@
        @RenderSection("historyPage", required:false)
        @*@RenderSection("vehicleInfoPage", required:false)*@
        @RenderSection("sendEmailPage", required:false)
        @RenderSection("vehicleSensorsPage", required:false)
        @RenderSection("editSensorPage", required:false)                
        @RenderSection("vehicleConfigPage", required: false)
        @RenderSection("scripts", required: false)
    </body>
</html>